@model artf_MVC.Models.Fabricante

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar fabricante</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idfab" />
            <div class="form-group">
                <label asp-for="Rsfab" class="control-label"></label>
                <input asp-for="Rsfab" class="form-control" />
                <span asp-validation-for="Rsfab" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marfab" class="control-label"></label>
                <input asp-for="Marfab" class="form-control" />
                <span asp-validation-for="Marfab" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
