@{
    ViewData["Title"] = "Inicio ARTF";
}

<style>
    .responsive-image {
        max-width: 100%;
        height: auto;
    }
</style>

<div class="text-center">
    <div class="mt-4">
        <div class="d-flex justify-content-center">
            <img src="background.jpg" alt="Imagen de bienvenida" class="responsive-image" />
        </div>
        <p>Acerca de la: <a href="https://www.gob.mx/artf" target="_blank">Agencia Reguladora de Transporte Ferroviario</a>.</p>
    </div>
</div>
