@model artf_MVC.Models.Canrf

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Canrf</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idmodcan" class="control-label"></label>
                <select asp-for="Idmodcan" class ="form-control" asp-items="ViewBag.Idmodcan"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idusercan" class="control-label"></label>
                <select asp-for="Idusercan" class ="form-control" asp-items="ViewBag.Idusercan"></select>
            </div>
            <div class="form-group">
                <label asp-for="Numacuofcan" class="control-label"></label>
                <input asp-for="Numacuofcan" class="form-control" />
                <span asp-validation-for="Numacuofcan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechaofcan" class="control-label"></label>
                <input asp-for="Fechaofcan" class="form-control" />
                <span asp-validation-for="Fechaofcan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Juscan" class="control-label"></label>
                <input asp-for="Juscan" class="form-control" />
                <span asp-validation-for="Juscan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obscan" class="control-label"></label>
                <input asp-for="Obscan" class="form-control" />
                <span asp-validation-for="Obscan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fichacan" class="control-label"></label>
                <input asp-for="Fichacan" class="form-control" />
                <span asp-validation-for="Fichacan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clavecan" class="control-label"></label>
                <input asp-for="Clavecan" class="form-control" />
                <span asp-validation-for="Clavecan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechacan" class="control-label"></label>
                <input asp-for="Fechacan" class="form-control" />
                <span asp-validation-for="Fechacan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
